---
layout: default
---
<div class="justified-text">
  {{ content }}
</div>

<style>
.justified-text {
    text-align: justify; /* Justifies the text */
  }
</style>

<script>
MathJax = {
  tex: {
    inlineMath: [['$', '$'], ['\\(', '\\)']],
    displayMath: [['$$', '$$'], ['\\[', '\\]']]
  }
};
</script>

<script async 
src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
</script>

<script type="text/javascript" async
  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
</script>

<!--<h3 class="fw-bold border-bottom pb-3 mb-5">Projects</h3>
{% for project in site.data.settings.projects %}
<div class="row g-5 mb-5">
  <div class="col-lg-6">
    <h5>{{ project.title }}</h5>
    <p> {{ project.description }} </p>
  </div>
</div>
{% endfor %} -->

